.loader{
  width:60px;
  height:60px;
  border:6px solid #1e293b;
  border-top:6px solid #10b981;
  border-radius:50%;
  animation:spin 1s linear infinite;
}

@keyframes spin{
  100%{
    transform:rotate(360deg);
  }
}